{% load wagtailcore_tags wagtailimages_tags static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>{{ page.banner_title }} | Educiza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/aos.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
    {% include 'home/includes/_shared_styles.html' %}
</head>
<body>
<!-- Back to top button -->
<a id="button"></a>
{% include 'home/includes/_whatsapp.html' %}
<div class="sub_banner position-relative">
        {% include 'home/includes/_navbar.html' %}
    <!-- Sub banner -->
    {% if page.banner_bg_image %}{% image page.banner_bg_image original as banner_bg %}{% endif %}
    <section class="sub_banner_con position-relative"{% if page.banner_bg_image %} style="--banner-bg: url('{{ banner_bg.url }}')"{% endif %}>
        <div class="container position-relative">
            <div class="row">
                <div class="col-xl-6 col-md-10 col-12 mx-auto">
                    <div class="sub_banner_content" data-aos="fade-up">
                        <h1 class="text-white">{{ page.banner_title }}</h1>
                        <p class="text-white text-size-18">{{ page.banner_description }}</p>
                        <div class="box">
                            <a href="/" class="text-decoration-none">
                                <span class="mb-0">Home</span>
                            </a>
                            <i class="arrow fa-solid fa-arrow-right"></i>
                            <span class="mb-0 box_span">{{ page.banner_title }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Contact Info -->
<section class="contactinfo-con">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contactinfo_content text-center" data-aos="fade-up">
                    <h6>{{ page.contact_info_subtitle }}</h6>
                    <h2>{{ page.contact_info_title }}</h2>
                </div>
            </div>
        </div>
        <div class="row all_row" data-aos="fade-up">
            <!-- Location -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 all_column">
                <div class="contact-box box1 all_boxes">
                    <figure class="icon icon1">
                        <img src="{% static 'images/contact-icon1.png' %}" alt="Location" class="img-fluid">
                    </figure>
                    <h3>Our Location</h3>
                    <a href="{{ page.location_map_url }}" class="text-decoration-none text-size-16 mb-0">
                        {{ page.location_address }}
                    </a>
                </div>
            </div>
            <!-- Phone -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 all_column">
                <div class="contact-box box2 all_boxes">
                    <figure class="icon icon2">
                        <img src="{% static 'images/contact-icon2.png' %}" alt="Phone" class="img-fluid">
                    </figure>
                    <h3>Phone Number</h3>
                    <a href="tel:{{ page.phone_1 }}" class="text-decoration-none text-size-16">{{ page.phone_1 }}</a>
                    {% if page.phone_2 %}
                    <div class="clearfix"></div>
                    <a href="tel:{{ page.phone_2 }}" class="text-decoration-none text-size-16 mb-0">{{ page.phone_2 }}</a>
                    {% endif %}
                </div>
            </div>
            <!-- Email -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 all_column">
                <div class="contact-box box3 mb-0 all_boxes">
                    <figure class="icon icon3">
                        <img src="{% static 'images/contact-icon3.png' %}" alt="Email" class="img-fluid">
                    </figure>
                    <h3>Our Email</h3>
                    <a href="mailto:{{ page.email_1 }}" class="text-decoration-none text-size-16">{{ page.email_1 }}</a>
                    {% if page.email_2 %}
                    <div class="clearfix"></div>
                    <a href="mailto:{{ page.email_2 }}" class="text-decoration-none text-size-16 mb-0">{{ page.email_2 }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Form -->
<section class="contactform-con position-relative">
    <figure class="contact-righttopimage mb-0">
        <img src="{% static 'images/contactform-righttopimage.png' %}" alt="image" class="img-fluid">
    </figure>
    <div class="container">
        
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="contact_wrapper position-relative" data-aos="fade-up">
                    <figure class="contact-leftbackground mb-0">
                        {% if page.form_bg_image %}
                            {% image page.form_bg_image original as form_bg %}
                            <img src="{{ form_bg.url }}" alt="image" class="img-fluid">
                        {% else %}
                            <img src="{% static 'images/contact-leftbackground.jpg' %}" alt="image" class="img-fluid">
                        {% endif %}
                    </figure>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="contact_content position-relative" data-aos="fade-up">
                    <h6>{{ page.form_subtitle }}</h6>
                    <h2 class="text-white">{{ page.form_title }}</h2>
                    <form id="contactpage" method="post" action="{{ page.url }}" class="position-relative">
                        {% csrf_token %}
                        <div class="form-group input1 float-left">
                            <input type="text" class="form_style" placeholder="Name" name="fname" id="fname">
                        </div>
                        <div class="form-group float-left">
                            <input type="tel" class="form_style" placeholder="Phone" name="phone" id="phone">
                        </div>
                        <div class="form-group input1 float-left">
                            <input type="email" class="form_style" placeholder="Email" name="email" id="email">
                        </div>
                        <div class="form-group float-left">
                            <input type="text" class="form_style" placeholder="Address" name="address" id="address">
                        </div>
                        <div class="form-group message">
                            <textarea class="form_style" placeholder="Message" rows="3" name="msg"></textarea>
                        </div>
                        <button type="submit" id="submit" class="submit_now text-decoration-none">
                            Sign Up Now<i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </form>
                    <figure class="contact-crossimage mb-0">
                        <img src="{% static 'images/contactform-crossimage.png' %}" alt="image" class="img-fluid">
                    </figure>
                    <figure class="contact-triangleimage mb-0">
                        <img src="{% static 'images/contactform-triangleimage.png' %}" alt="image" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Map -->
{% if page.map_embed_url %}
<div class="map-con">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <iframe src="{{ page.map_embed_url }}" style="border:none;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% include 'home/includes/_footer.html' %}

<!-- PRE LOADER -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
        <div></div>
    </div>
</div>
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/carousel.js' %}"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/back-to-top-button.js' %}"></script>
<script src="{% static 'js/preloader.js' %}"></script>
<script src="{% static 'js/counter.js' %}"></script>
<script src="{% static 'js/contact-form.js' %}"></script>
<script src="{% static 'js/contact-validate.js' %}"></script>
</body>
</html>
