{% load wagtailcore_tags wagtailimages_tags static %}
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Azeem School</title>
    <!-- /SEO Ultimate -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Latest compiled and minified CSS -->
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- StyleSheet link CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/aos.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Back to top button -->
<a id="button"></a>
<div class="home_banner_outer position-relative">
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <a class="navbar-brand" href="/">
                    {% if page.nav_logo %}
                        {% image page.nav_logo original as nav_logo_img %}
                        <figure class="logo mb-0"><img src="{{ nav_logo_img.url }}" alt="logo" class="img-fluid"></figure>
                    {% endif %}
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        {% for menu in page.navbar_menus.all %}
                            {% with items=menu.menu_items.all %}
                            {% if items %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle dropdown-color navbar-text-color"
                                    href="#" id="navbarDropdown{{ forloop.counter }}" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ menu.title }}
                                </a>
                                <div class="dropdown-menu drop-down-content">
                                    <ul class="list-unstyled drop-down-pages">
                                        {% for item in items %}
                                        <li class="nav-item">
                                            <a class="dropdown-item nav-link" href="{{ item.url }}">{{ item.label }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            {% elif menu.url %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ menu.url }}">{{ menu.title }}</a>
                            </li>
                            {% endif %}
                            {% endwith %}
                        {% endfor %}
                        <li class="nav-item">
                            <a class="nav-link log_in" href="{{ page.nav_btn_url }}">
                                {{ page.nav_btn_label }}<i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="phone-number">
                    <i class="fa-solid fa-phone"></i>
                    <a href="tel:{{ page.nav_phone }}" class="text-decoration-none">
                        <span class="number">{{ page.nav_phone }}</span>
                    </a>
                </div>
            </nav>
        </div>
    </header>
    <!-- Banner -->
    {% if page.hero_bg_image %}{% image page.hero_bg_image original as hero_bg %}{% endif %}
    <section class="banner3-con position-relative"{% if page.hero_bg_image %} style="background-image: url('{{ hero_bg.url }}'); background-size: cover; background-position: center;"{% endif %}>
        <figure class="banner-lefttopcurve image mb-0">
            <img src="{% static 'images/banner3-lefttopcurve.png' %}" alt="image" class="img-fluid">
        </figure>
        <figure class="banner-rightbottomcurve image mb-0">
            <img src="{% static 'images/banner3-rightbottomcurve.png' %}" alt="image" class="img-fluid">
        </figure>
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-lg-10 col-12 mx-auto">
                    <div class="banner_content text-center position-relative" data-aos="fade-up">
                        {% if page.hero_logo %}
                            {% image page.hero_logo original as hero_logo_img %}
                            <figure class="banner-logoicon">
                                <img src="{{ hero_logo_img.url }}" alt="logo" class="img-fluid">
                            </figure>
                        {% endif %}
                        <h1 class="text-white">{{ page.hero_headline }}</h1>
                        <h1 class="text-white">{{ page.hero_headline_2 }}</h1>
                        <p class="text-white text-size-18">{{ page.hero_tagline }}</p>
                        <a href="{{ page.hero_btn_url }}" class="text-decoration-none primary_btn">{{ page.hero_btn_label }}<i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1 mx-auto">
                    <a href="#dropdown" class="top-btn text-center">
                        <figure class="banner-dropdownimage mb-0">
                            <img src="{% static 'images/banner-dropdownimage.png' %}" class="img-fluid" alt="image">
                        </figure>
                    </a>
                </div>
            </div>
        </div>
        <figure class="banner-circleimage mb-0">
            <img src="{% static 'images/banner3-circleimage.png' %}" alt="image" class="img-fluid">
        </figure>
        <figure class="banner-crossimage mb-0">
            <img src="{% static 'images/banner3-crossimage.png' %}" alt="image" class="img-fluid">
        </figure>
    </section>
</div>
<!-- Trust -->
<section class="choose3-con position-relative" id="dropdown">
    <figure class="choose-halfcircleimage mb-0">
        <img src="{% static 'images/choose3-halfcircleimage.png' %}" alt="image" class="img-fluid">
    </figure>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="choose_content position-relative" data-aos="fade-up">
                    <h6>Our Features</h6>
                    <h2>{{ page.trust_heading }}</h2>
                    <p class="text1 text-size-18">{{ page.trust_description }}</p>
                    <a href="{{ page.trust_btn_url }}" class="text-decoration-none primary_btn">{{ page.trust_btn_label }}<i class="fa-solid fa-arrow-right"></i></a>
                    <figure class="choose-circleimage mb-0">
                        <img src="{% static 'images/choose3-circleimage.png' %}" alt="image" class="img-fluid">
                    </figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="choose_contentbox" data-aos="fade-up">
                    {% for card in page.trust_cards.all %}
                        {% if forloop.counter == 1 or forloop.counter == 3 %}
                        <div class="row">
                        {% endif %}
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 column">
                            {% if forloop.counter == 1 or forloop.counter == 3 %}
                            <div class="box-top">
                            {% endif %}
                            <div class="choose-box box{{ forloop.counter }}{% if forloop.counter <= 2 %} box-mb{% endif %}">
                                {% if card.logo %}
                                    {% image card.logo original as card_logo %}
                                    <figure class="icon icon{{ forloop.counter }}">
                                        <img src="{{ card_logo.url }}" alt="{{ card.heading }}" class="img-fluid">
                                    </figure>
                                {% endif %}
                                <h3>{{ card.heading }}</h3>
                                <p class="text-size-16">{{ card.description }}</p>
                                {% if card.url %}
                                    <a href="{{ card.url }}" class="text-decoration-none arrow"><i class="fa-solid fa-arrow-right"></i></a>
                                {% endif %}
                            </div>
                            {% if forloop.counter == 1 or forloop.counter == 3 %}
                            </div>
                            {% endif %}
                        </div>
                        {% if forloop.counter == 2 or forloop.last %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About -->
<section class="about3-con position-relative">
    <figure class="about-rightimage mb-0">
        <img src="{% static 'images/about-rightimage.png' %}" alt="image" class="img-fluid">
    </figure>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 text-md-left text-center">
                <div class="about_wrapper position-relative" data-aos="fade-up">
                    {% if page.about_image_main %}
                        {% image page.about_image_main original as about_img_main %}
                        <figure class="about-image1 mb-0">
                            <img src="{{ about_img_main.url }}" alt="image" class="img-fluid">
                        </figure>
                    {% endif %}
                    {% if page.about_image_video_thumb %}
                        {% image page.about_image_video_thumb original as about_img_vid %}
                        <div class="video-image">
                            <figure class="about-image2 mb-0">
                                <img src="{{ about_img_vid.url }}" alt="image" class="img-fluid">
                            </figure>
                            {% if page.about_video_url %}
                            <div class="icon">
                                <a class="popup-vimeo" href="{{ page.about_video_url }}">
                                    <div class="mb-0 video-icon">
                                        <img class="thumb img-fluid" style="cursor: pointer" src="{% static 'images/about3-playicon.png' %}" alt="image">
                                    </div>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="about_content" data-aos="fade-up">
                    <h6>{{ page.about_subtitle }}</h6>
                    <h2>{{ page.about_title }}</h2>
                    <p class="text-size-18 text">{{ page.about_description }}</p>
                    {% if page.about_features.count %}
                    <ul class="list-unstyled">
                        {% for feature in page.about_features.all %}
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <p class="mb-0 text-size-16">{{ feature.text }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if page.about_mission_title %}
                    <div class="box">
                        {% if page.about_mission_icon %}
                            {% image page.about_mission_icon original as mission_icon %}
                            <figure class="about-icon mb-0">
                                <img src="{{ mission_icon.url }}" alt="image" class="img-fluid">
                            </figure>
                        {% endif %}
                        <h3 class="mb-0">{{ page.about_mission_title }}</h3>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Courses -->
<section class="course-popular-con">
    <div class="popular-con position-relative">
        <figure class="popular-lefttopimage mb-0">
            <img src="{% static 'images/popular-lefttopimage.png' %}" alt="image" class="img-fluid">
        </figure>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="popular_content text-center position-relative" data-aos="fade-up">
                        <h6>{{ page.courses_subtitle }}</h6>
                        <h2 class="text-white">{{ page.courses_title }}</h2>
                        <figure class="popular-crossimage mb-0">
                            <img src="{% static 'images/contactform-crossimage.png' %}" alt="image" class="img-fluid">
                        </figure>
                        <figure class="popular-triangleimage mb-0">
                            <img src="{% static 'images/popular-triangleimage.png' %}" alt="image" class="img-fluid">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="course-con position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tabs-box tabs-options">
                        <ul class="nav nav-tabs" data-aos="fade-up">
                            <li><a class="active" data-toggle="tab" href="#all">All</a></li>
                            <li><a data-toggle="tab" href="#design">Design</a></li>
                            <li><a data-toggle="tab" href="#data-science">Data Science</a></li>
                            <li><a data-toggle="tab" href="#marketing">Marketing</a></li>
                            <li><a data-toggle="tab" href="#development">Development</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="all" class="tab-pane fade in active show">
                                <div class="row all_row" data-aos="fade-up">
                                    {% for card in page.course_cards.all %}
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mx-auto all_column">
                                        <div class="course-box all_boxes">
                                            {% if card.image %}
                                                {% image card.image original as course_img %}
                                                <figure class="image mb-0">
                                                    <img src="{{ course_img.url }}" alt="{{ card.title }}" class="img-fluid">
                                                </figure>
                                            {% endif %}
                                            <div class="lower_content all_boxes">
                                                <div class="content">
                                                    <div class="calendar">
                                                        <i class="fa-solid fa-book"></i>
                                                        <span class="day">{{ card.lessons_count }}</span>
                                                    </div>
                                                    <div class="people">
                                                        <i class="fa-solid fa-user"></i>
                                                        <span class="person">{{ card.students_count }}</span>
                                                    </div>
                                                </div>
                                                <a href="#" class="text-decoration-none all_boxes" data-toggle="modal" data-target="#course-modal-{{ forloop.counter }}">
                                                    <h5>{{ card.title }}</h5>
                                                </a>
                                                <div class="value">
                                                    <span class="money">{{ card.price }}</span>
                                                    <a href="{{ card.modal_btn_url }}" class="text-decoration-none enroll_now">Enroll Now<i class="fa-solid fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div id="design" class="tab-pane fade">
                                <div class="row all_row" data-aos="fade-up">
                                    {% for card in page.course_cards.all %}{% if card.tab == "design" %}
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mx-auto all_column">
                                        <div class="course-box all_boxes">
                                            {% if card.image %}
                                                {% image card.image original as course_img %}
                                                <figure class="image mb-0">
                                                    <img src="{{ course_img.url }}" alt="{{ card.title }}" class="img-fluid">
                                                </figure>
                                            {% endif %}
                                            <div class="lower_content all_boxes">
                                                <div class="content">
                                                    <div class="calendar">
                                                        <i class="fa-solid fa-book"></i>
                                                        <span class="day">{{ card.lessons_count }}</span>
                                                    </div>
                                                    <div class="people">
                                                        <i class="fa-solid fa-user"></i>
                                                        <span class="person">{{ card.students_count }}</span>
                                                    </div>
                                                </div>
                                                <a href="#" class="text-decoration-none all_boxes" data-toggle="modal" data-target="#course-modal-{{ forloop.counter }}">
                                                    <h5>{{ card.title }}</h5>
                                                </a>
                                                <div class="value">
                                                    <span class="money">{{ card.price }}</span>
                                                    <a href="{{ card.modal_btn_url }}" class="text-decoration-none enroll_now">Enroll Now<i class="fa-solid fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}{% endfor %}
                                </div>
                            </div>
                            <div id="data-science" class="tab-pane fade">
                                <div class="row all_row" data-aos="fade-up">
                                    {% for card in page.course_cards.all %}{% if card.tab == "data-science" %}
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mx-auto all_column">
                                        <div class="course-box all_boxes">
                                            {% if card.image %}
                                                {% image card.image original as course_img %}
                                                <figure class="image mb-0">
                                                    <img src="{{ course_img.url }}" alt="{{ card.title }}" class="img-fluid">
                                                </figure>
                                            {% endif %}
                                            <div class="lower_content all_boxes">
                                                <div class="content">
                                                    <div class="calendar">
                                                        <i class="fa-solid fa-book"></i>
                                                        <span class="day">{{ card.lessons_count }}</span>
                                                    </div>
                                                    <div class="people">
                                                        <i class="fa-solid fa-user"></i>
                                                        <span class="person">{{ card.students_count }}</span>
                                                    </div>
                                                </div>
                                                <a href="#" class="text-decoration-none all_boxes" data-toggle="modal" data-target="#course-modal-{{ forloop.counter }}">
                                                    <h5>{{ card.title }}</h5>
                                                </a>
                                                <div class="value">
                                                    <span class="money">{{ card.price }}</span>
                                                    <a href="{{ card.modal_btn_url }}" class="text-decoration-none enroll_now">Enroll Now<i class="fa-solid fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}{% endfor %}
                                </div>
                            </div>
                            <div id="marketing" class="tab-pane fade">
                                <div class="row all_row" data-aos="fade-up">
                                    {% for card in page.course_cards.all %}{% if card.tab == "marketing" %}
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mx-auto all_column">
                                        <div class="course-box all_boxes">
                                            {% if card.image %}
                                                {% image card.image original as course_img %}
                                                <figure class="image mb-0">
                                                    <img src="{{ course_img.url }}" alt="{{ card.title }}" class="img-fluid">
                                                </figure>
                                            {% endif %}
                                            <div class="lower_content all_boxes">
                                                <div class="content">
                                                    <div class="calendar">
                                                        <i class="fa-solid fa-book"></i>
                                                        <span class="day">{{ card.lessons_count }}</span>
                                                    </div>
                                                    <div class="people">
                                                        <i class="fa-solid fa-user"></i>
                                                        <span class="person">{{ card.students_count }}</span>
                                                    </div>
                                                </div>
                                                <a href="#" class="text-decoration-none all_boxes" data-toggle="modal" data-target="#course-modal-{{ forloop.counter }}">
                                                    <h5>{{ card.title }}</h5>
                                                </a>
                                                <div class="value">
                                                    <span class="money">{{ card.price }}</span>
                                                    <a href="{{ card.modal_btn_url }}" class="text-decoration-none enroll_now">Enroll Now<i class="fa-solid fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}{% endfor %}
                                </div>
                            </div>
                            <div id="development" class="tab-pane fade">
                                <div class="row all_row" data-aos="fade-up">
                                    {% for card in page.course_cards.all %}{% if card.tab == "development" %}
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mx-auto all_column">
                                        <div class="course-box all_boxes">
                                            {% if card.image %}
                                                {% image card.image original as course_img %}
                                                <figure class="image mb-0">
                                                    <img src="{{ course_img.url }}" alt="{{ card.title }}" class="img-fluid">
                                                </figure>
                                            {% endif %}
                                            <div class="lower_content all_boxes">
                                                <div class="content">
                                                    <div class="calendar">
                                                        <i class="fa-solid fa-book"></i>
                                                        <span class="day">{{ card.lessons_count }}</span>
                                                    </div>
                                                    <div class="people">
                                                        <i class="fa-solid fa-user"></i>
                                                        <span class="person">{{ card.students_count }}</span>
                                                    </div>
                                                </div>
                                                <a href="#" class="text-decoration-none all_boxes" data-toggle="modal" data-target="#course-modal-{{ forloop.counter }}">
                                                    <h5>{{ card.title }}</h5>
                                                </a>
                                                <div class="value">
                                                    <span class="money">{{ card.price }}</span>
                                                    <a href="{{ card.modal_btn_url }}" class="text-decoration-none enroll_now">Enroll Now<i class="fa-solid fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}{% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Benefit -->
<section class="benefit-con benefit3-con position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="benefit_content text-center" data-aos="fade-up">
                    <h6>{{ page.benefits_subtitle }}</h6>
                    <h2>{{ page.benefits_title }}</h2>
                </div>
            </div>
        </div>
        <div class="row all_row" data-aos="fade-up">
            {% for card in page.benefit_cards.all %}
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 all_column">
                <div class="benefit-box box{{ forloop.counter }}">
                    <span class="number counter">{{ card.counter }}</span>
                    {% if card.suffix %}<sup class="plus">{{ card.suffix }}</sup>{% endif %}
                    <span class="text">{{ card.label }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Journey -->
<section class="journey-con position-relative">
    <figure class="journey-lefttopcurve image mb-0">
        <img src="{% static 'images/journey-lefttopcurve.png' %}" alt="image" class="img-fluid">
    </figure>
    <figure class="journey-rightbottomcurve image mb-0">
        <img src="{% static 'images/journey-rightbottomcurve.png' %}" alt="image" class="img-fluid">
    </figure>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-12 mx-auto">
                <div class="journey_content text-center" data-aos="fade-up">
                    {% if page.journey_logo %}
                        {% image page.journey_logo original as journey_logo_img %}
                        <figure class="journey-logoicon">
                            <img src="{{ journey_logo_img.url }}" alt="logo" class="img-fluid">
                        </figure>
                    {% endif %}
                    <h6>{{ page.journey_subtitle }}</h6>
                    <h2 class="text-white">{{ page.journey_title }}</h2>
                    <a href="{{ page.journey_btn_url }}" class="text-decoration-none primary_btn">{{ page.journey_btn_label }}<i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial -->
<section class="testimonial3-con position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="testimonial_content text-center" data-aos="fade-up">
                    <h6>{{ page.testimonials_subtitle }}</h6>
                    <h2>{{ page.testimonials_title }}</h2>
                </div>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-12">
                <div class="owl-carousel owl-theme">
                    {% for t in page.testimonials.all %}
                    <div class="item">
                        <div class="testimonial-box">
                            <figure class="testimonial-quoteimage">
                                <img src="{% static 'images/testimonial3-quoteimage.png' %}" alt="image" class="img-fluid">
                            </figure>
                            <p class="text-size-16">{{ t.quote }}</p>
                            <div class="review-content">
                                {% if t.photo %}
                                    {% image t.photo original as t_photo %}
                                    <figure class="testimonial-personimage mb-0">
                                        <img src="{{ t_photo.url }}" alt="{{ t.name }}" class="img-fluid">
                                    </figure>
                                {% endif %}
                                <div class="detail">
                                    <ul class="list-unstyled">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                    <span class="name">{{ t.name }}</span>
                                    <span class="review">{{ t.role }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Article -->
<section class="article-con">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="article_content text-center" data-aos="fade-up">
                    <h6>{{ page.blog_subtitle }}</h6>
                    <h2>{{ page.blog_title }}</h2>
                </div>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-12">
                <div class="owl-carousel owl-theme">
                    {% for post in page.blog_posts.all %}
                    <div class="item">
                        <div class="article-box">
                            {% if post.image %}
                                {% image post.image original as post_img %}
                                <figure class="mb-0">
                                    <img src="{{ post_img.url }}" alt="{{ post.title }}" class="img-fluid">
                                </figure>
                            {% endif %}
                            <div class="box-content">
                                <div class="span_wrapper">
                                    <span>{{ post.date|date:"F j, Y" }}</span>
                                </div>
                                <a href="{{ post.url }}" class="text-decoration-none">
                                    <h4>{{ post.title }}</h4>
                                </a>
                                <p class="text-size-16">{{ post.excerpt }}</p>
                                <a href="{{ post.url }}" class="read_more text-decoration-none">Read More
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<section class="footer-con position-relative">
    <figure class="footer-rightimage mb-0">
        <img src="{% static 'images/footer-rightimage.png' %}" class="img-fluid" alt="image">
    </figure>
    <div class="footer_upperportion position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="upper_portion">
                        {% if page.footer_logo %}
                            {% image page.footer_logo original as footer_logo_img %}
                            <a href="/"><figure class="footer-logo mb-0"><img class="img-fluid" src="{{ footer_logo_img.url }}" alt="logo"></figure></a>
                        {% endif %}
                        <h4>{{ page.footer_newsletter_heading }}</h4>
                        <form action="javascript:;">
                            <div class="form-group position-relative mb-0">
                                <input type="text" class="form_style" placeholder="Enter Email Address" name="email">
                                <button><i class="send fa-sharp fa-solid fa-paper-plane"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_lowerportion position-relative">
        <div class="container">
            <div class="middle_portion">
                <div class="row">
                    <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="logo-content">
                            <h4 class="heading">{{ page.footer_about_title }}</h4>
                            <p class="text-size-14 text">{{ page.footer_about_text }}</p>
                            <ul class="list-unstyled mb-0 social-icons">
                                {% for link in page.footer_social_links.all %}
                                <li>
                                    <a href="{{ link.url }}" class="text-decoration-none">
                                        {% if link.platform == "facebook" %}<i class="fa-brands fa-facebook-f social-networks"></i>
                                        {% elif link.platform == "twitter" %}<i class="fa-brands fa-x-twitter social-networks"></i>
                                        {% elif link.platform == "youtube" %}<i class="fa-brands fa-youtube social-networks"></i>
                                        {% elif link.platform == "instagram" %}<i class="fa-brands fa-instagram social-networks"></i>
                                        {% elif link.platform == "linkedin" %}<i class="fa-brands fa-linkedin social-networks"></i>
                                        {% endif %}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                        <div class="links">
                            <h4 class="heading">{{ page.footer_links_title }}</h4>
                            <ul class="list-unstyled mb-0">
                                {% for link in page.footer_useful_links.all %}
                                <li><i class="fa-solid fa-arrow-right"></i><a href="{{ link.url }}">{{ link.label }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                        <div class="use-link links">
                            <h4 class="heading">{{ page.footer_explore_title }}</h4>
                            <ul class="list-unstyled mb-0">
                                {% for link in page.footer_explore_links.all %}
                                <li><i class="fa-solid fa-arrow-right"></i><a href="{{ link.url }}">{{ link.label }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-12">
                        <div class="icon">
                            <h4 class="heading">{{ page.footer_contact_title }}</h4>
                            <ul class="list-unstyled mb-0">
                                {% if page.footer_contact_phone %}
                                <li class="text">
                                    <i class="fa-solid fa-phone"></i>
                                    <a href="tel:{{ page.footer_contact_phone }}" class="text-decoration-none">{{ page.footer_contact_phone }}</a>
                                </li>
                                {% endif %}
                                {% if page.footer_contact_email %}
                                <li class="text">
                                    <i class="fa-solid fa-envelope"></i>
                                    <a href="mailto:{{ page.footer_contact_email }}" class="text-decoration-none">{{ page.footer_contact_email }}</a>
                                </li>
                                {% endif %}
                                {% if page.footer_contact_address %}
                                <li class="text">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <a href="{{ page.footer_contact_map_url }}" class="text-decoration-none address mb-0">{{ page.footer_contact_address }}</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p class="mb-0">{{ page.footer_copyright_text }}</p>
        </div>
    </div>
</section>
<!-- Project SECTION POPUP -->
{% for card in page.course_cards.all %}
<div class="project_modal">
    <div id="course-modal-{{ forloop.counter }}" class="modal fade blog-model-con" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
           <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa-solid fa-x"></i></span></button>
                </div>
                <div class="modal-body">
                    <div class="blog-box-item mb-0">
                        {% if card.image %}
                            {% image card.image original as modal_img %}
                            <div class="blog-img">
                                <figure class="mb-0">
                                    <img src="{{ modal_img.url }}" alt="{{ card.title }}" class="img-fluid">
                                </figure>
                            </div>
                        {% endif %}
                        <div class="project_content">
                            <h4>{{ card.title }}</h4>
                            <span class="text">{{ card.modal_description }}</span>
                            <a href="{{ card.modal_btn_url }}" class="text-decoration-none primary_btn">{{ card.modal_btn_label }}<i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- PRE LOADER -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
        <div></div>
    </div>
</div>
<!-- Latest compiled JavaScript -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/carousel.js' %}"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/back-to-top-button.js' %}"></script>
<script src="{% static 'js/preloader.js' %}"></script>
<script src="{% static 'js/counter.js' %}"></script>
<script src="{% static 'js/video.js' %}"></script>
<script src="{% static 'js/video-popup.js' %}"></script>

<style>

/* --- Banner height --- */
.banner3-con {
    min-height: 600px;
    padding: 186px 0 226px;
    overflow: hidden;
    isolation: isolate;
}
.banner3-con::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
body {
    overflow-x: hidden;
}

/* --- Sticky nav blur on scroll --- */
.header {
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}
.header.nav-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(255,255,255,0.97);
    box-shadow: 0 3px 24px rgba(0,0,0,0.10);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

</style>

<script>
/* Sticky nav on scroll */
(function() {
    var header = document.querySelector('.header');
    if (!header) return;
    var bannerHeight = 80;
    function onScroll() {
        if (window.scrollY > bannerHeight) {
            header.classList.add('nav-scrolled');
        } else {
            header.classList.remove('nav-scrolled');
        }
    }
    window.addEventListener('scroll', onScroll, { passive: true });
    onScroll();
})();
</script>
</body>
</html>
